@charset "UTF-8";
@import "../../../assets/style/element.scss";

.roleName {
    position: absolute;
    left: 158px;
    top: 22px;
    font-weight: bold;
}

.rodio-content-title {
    margin-bottom: 10px;
}

.menu-first {
    margin-bottom: 10px;

    .menu-title {
        font-size: 16px;
        color: #fff;
        vertical-align: middle;
    }
}

.radio-content {
    margin-left: 28px;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background: transparent;
    border-right: 2px solid $color-orange;
}

.el-tree-node:focus>.el-tree-node__content {
    background-color: transparent !important;
}
