<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <define name="monitorLogDir" class="com.win.dfas.monitor.config.log.MonitorLogDir"/>

    <springCloudProperty scope="context" name="kafkaTopic" source="kafka.topic"/>

    <springProperty scope="context" name="kafkaServerUrl" source="kafka.server.url"/>

    <define name="logCustomField" class="com.win.dfas.monitor.exporter.microservice.log.LogCustomField"/>

    <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
            <layout class="net.logstash.logback.layout.LogstashLayout">
                <includeContext>true</includeContext>
                <includeCallerData>true</includeCallerData>
               <customFields>${logCustomField}</customFields>
                <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
        <topic>${kafkaTopic}</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.HostNameKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
        <producerConfig>bootstrap.servers=${kafkaServerUrl}</producerConfig>
    </appender>

    <!-- 文件输出 -->
    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${monitorLogDir}/${springAppName}/%d{yyyy-MM-dd}/server.%i.log</fileNamePattern>
            <!--日志文件最大的大小-->
            <maxFileSize>5MB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>15</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 异步写文件 -->
    <appender name="asyncFileAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>500</queueSize>
         <appender-ref ref="LOGFILE"/>
    </appender>

    <!-- 异步发送给Kafka-->
    <appender name="asyncKafkaAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1000</queueSize>
        <appender-ref ref="kafkaAppender"/>
    </appender>

    <!-- 控制台输出 -->
    <appender name="LOGCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="INFO"/>


    <!-- 开发环境 -->
    <springProfile name="dev">
        <logger name="com.win" level="DEBUG" additivity="false">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <!-- <appender-ref ref="asyncKafkaAppender"/> -->
        </root>
    </springProfile>

    <!-- 开发测试环境 -->
    <springProfile name="test">
        <logger name="com.win" level="DEBUG" additivity="false">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </root>
    </springProfile>

    <springProfile name="sit">
        <logger name="com.win" level="DEBUG" additivity="false">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </root>
    </springProfile>

    <springProfile name="uat">
        <logger name="com.win" level="DEBUG" additivity="false">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </root>
    </springProfile>
    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="com.win" level="DEBUG" additivity="false">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="LOGCONSOLE"/>
            <appender-ref ref="asyncFileAppender"/>
            <appender-ref ref="asyncKafkaAppender"/>
        </root>
    </springProfile>
</configuration>