<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfas.monitor.config.mapper.MicroServiceMapper">
	
	<resultMap type="MicroServiceEntity" id="MicroServiceEntityResult">
        <result property="id"    column="id"    />
        <result property="microServiceName"    column="microServiceName"    />
        <result property="state"    column="state"    />
        <result property="warn"    column="warn"    />
        <result property="error"    column="error"    />
    </resultMap>

	<sql id="micro_service_base_query">
        select t.* from t_micro_service t
    </sql>

    <!-- 查询报告管理信息 -->
    <select id="selectMicroServiceList" parameterType="MicroServiceEntity" resultMap="MicroServiceEntityResult">
        <include refid="micro_service_base_query"/>
     	<trim prefix="WHERE" prefixOverrides="AND ">
            <if test="microServiceName != null  and microServiceName != ''  ">microServiceName  like concat('', #{microServiceName},'%')</if>
		</trim>
    </select>

    <!-- 查询报告管理信息 -->
    <select id="searchMicroService" parameterType="MicroServiceEntity" resultMap="MicroServiceEntityResult">
        <include refid="micro_service_base_query"/>
        <trim prefix="WHERE" prefixOverrides="AND ">
            <if test="microServiceName != null  and microServiceName != ''  ">microServiceName  like concat('', #{microServiceName},'%')</if>
        </trim>
    </select>

    <insert id="insertMicroService"
            parameterType="com.win.dfas.monitor.common.entity.MicroServiceEntity">
        insert into t_micro_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id,</if>
            <if test="microServiceName != null  and microServiceName != ''  ">microServiceName,</if>
            <if test="state != null  and state != ''  ">state,</if>
            <if test="warn != null  and warn != ''  ">warn,</if>
            <if test="error != null  and error != ''  ">error,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="microServiceName != null  and microServiceName != ''  ">#{microServiceName},</if>
            <if test="state != null  and state != ''  ">#{state},</if>
            <if test="warn != null  and warn != ''  ">#{warn},</if>
            <if test="error != null  and error != ''  ">#{error},</if>
        </trim>
    </insert>

    <update id="updateMicroService" parameterType="com.win.dfas.monitor.common.entity.MicroServiceEntity">
        update t_micro_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="microServiceName != null  and microServiceName != ''  ">microServiceName=#{microServiceName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMicroService" parameterType="String">
        delete from t_micro_service where id = #{id}
    </delete>

    <delete id="deleteMicroServiceByIds" parameterType="String">
        delete from t_micro_service where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>