<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfas.monitor.config.mapper.MicroServiceMapper">
	
	<resultMap type="MicroServiceEntity" id="MicroServiceEntityResult">
        <result property="id"    column="id"    />
        <result property="microServiceName"    column="microServiceName"    />
        <result property="microServiceAlias"    column="microServiceAlias"    />
    </resultMap>

	<sql id="micro_service_base_query">
        select t.* from t_micro_service t
    </sql>

    <select id="getTotalMicroService" resultType="java.lang.Long">
        select count(1) from t_micro_service
    </select>

    <!-- 查询微服务信息 -->
    <select id="selectMicroServiceList" parameterType="MicroServiceEntity" resultMap="MicroServiceEntityResult">
        <include refid="micro_service_base_query"/>
     	<trim prefix="WHERE" prefixOverrides="AND ">
            <if test="microServiceName != null  and microServiceName != ''  ">
                microServiceName  like concat('', #{microServiceName},'%')
                or
                microServiceAlias  like concat('', #{microServiceName},'%')
            </if>

		</trim>
    </select>

    <!-- 查询微服务信息 -->
    <select id="selectMicroService" parameterType="java.lang.Long" resultMap="MicroServiceEntityResult">
        <include refid="micro_service_base_query"/>
        <trim prefix="WHERE" prefixOverrides="AND ">
            <if test="id != null  and id != ''  ">id =  #{id}</if>
        </trim>
    </select>

    <insert id="insertMicroServiceList"
            parameterType="java.util.List">
        insert into t_micro_service (id, microServiceName,microServiceAlias)
        VALUES <foreach collection="list" item="item" index="index"
                        separator=",">
        ( #{item.id}, #{item.microServiceName}, #{item.microServiceAlias})
    </foreach>
    </insert>


    <insert id="insertMicroService"
            parameterType="com.win.dfas.monitor.common.entity.MicroServiceEntity">
        insert into t_micro_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id,</if>
            <if test="microServiceName != null  and microServiceName != ''  ">microServiceName,</if>
            <if test="microServiceAlias != null  and microServiceName != ''  ">microServiceAlias,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="microServiceName != null  and microServiceName != ''  ">#{microServiceName},</if>
            <if test="microServiceAlias != null  and microServiceAlias != ''  ">#{microServiceAlias},</if>
        </trim>
    </insert>

    <update id="updateMicroService" parameterType="com.win.dfas.monitor.common.entity.MicroServiceEntity">
        update t_micro_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="microServiceName != null  and microServiceName != ''  ">microServiceName=#{microServiceName},</if>
            <if test="microServiceAlias != null  and microServiceAlias != ''  ">microServiceAlias=#{microServiceAlias},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="clearMicroService">
        delete from t_micro_service
    </delete>

    <delete id="deleteMicroService" parameterType="String">
        delete from t_micro_service where id = #{id}
    </delete>

    <delete id="deleteMicroServiceByIds" parameterType="String">
        delete from t_micro_service where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>